@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.remove-btn {
  background-color: #dc2626; /* Red color */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.remove-btn:hover {
  background-color: #b91c1c; /* Darker red on hover */
}

.car-card {
  background: rgb(139, 124, 192);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.car-card:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add deeper shadow */
}

.car-image {
  width: 100%;
  height: auto; /* This will maintain the aspect ratio */
  object-fit: contain; /* Ensure the image is fully visible */
  border-radius: 8px;
}

#my-collection-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Exactly 4 columns */
  gap: 20px; /* Adds spacing between grid items */
  justify-content: center; /* Centers content */
}

#my-collection-container div:hover {
  background: rgb(114, 92, 224);
}

/* Apply effect only on mycollection.html */
body {
  background: linear-gradient(
    to right,
    #1e293b,
    #4953df
  ); /* Dark blue gradient */
  color: white; /* White text for better visibility */
}

/* Default navbar styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Pushes left and right sections apart */
  align-items: center;
  padding: 10px 20px;
  background-color: #25357e;
}

.navbar .logo img {
  height: 50px; /* Adjust logo size */
}

.navbar .nav-links {
  display: flex;
  gap: 15px; /* Space between links */
}

.navbar .nav-links a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 17px;
}

.navbar .nav-links a:hover {
  background-color: #ddd;
  color: black;
}

.hotwheels-logo img {
  width: 150%; /* Make image 1.5x bigger */
  height: fit-content; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out; /* Smooth effect */
}

.hotwheels-logo img:hover {
  transform: scale(1.2); /* Increase size on hover */
}
